/* adding some set colours variables for the website */
:root{
    --bg-colour: #f0f2f0;
    --main-colour: #ffd064;
    --text-colour: #4a3c4e;
    --light-accent: #7ca4b3;
    --dark-accent: #806157;
}

* {
    margin: 0;
    padding: 0;
    /* set everything to border-box styling */
    box-sizing: border-box;
}

html {
    
    /* 1 rem = 10px */
    font-size: 62.5%;
    font-family: "Roboto" "Helvetica";
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-colour);
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    /* border: solid red 1px; */
    background-color: var(--main-colour);
}

nav  ul {
    display: flex;
    /* border: solid blue 1px; */
    list-style-type: none;
}

.nav-link {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    display: block;
    padding: 3rem 1rem;
    text-decoration: none;
    /* border: solid green 1px; */
}

.nav-link:hover {
    background-color: var(--light-accent);
}


#content-container {
        margin: 0 auto;
        margin-top: 10rem;
        width: 80%;
        /* border: solid blue 1px; */
}

#about-me {
     /* border: solid blue 1px; */
}

#about-me h1 {
    position: relative;
    left: 1.5rem;
    font-size: 2rem;
    color: white;
    margin: 0;
    width: 10rem;
    background-color:var(--main-colour);
    border-radius: 0.5rem;
    padding: 0.5rem;
    z-index: 3;
}

#about-me p {
    transform: translateY(-15%);
    font-size: 1.6rem;
    border-radius: 0.5rem;
    /* margin-top: 1rem; */
    padding: 2rem 2rem 2rem 2rem;
    /* color: var(--bg-colour); */
    z-index: -1;
    /* background-color: var(--text-colour); */
    border:solid var(--text-colour) 0.2rem;
}

#why-fac {
     /* border: solid blue 1px; */
     color: var(--bg-colour);
     background-color: var(--text-colour);
     border-radius: 1rem;
     padding: 2rem;
}
#why-fac h1 {
    padding-bottom: 1rem;
}
h1 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}