* {
    margin: 0;
    padding: 0;
    /* set everything to border-box styling */
    box-sizing: border-box;
}

html {
    
    /* 1 rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.carousel-container {
    max-width: 1000px;
    width: 100%;
    height: 500px;
    position: relative;
    /* restricts user from highlighting the image carousel */
    user-select: none;
    border: solid red 1px;
    margin: 0 auto;
}

.images-container {
    width: 100%;
    height: 90%;
    /* hides rest of the images that are overflowing */
    overflow: hidden;
    border: solid black 1px;
}
.image-and-caption {
    display: hidden;
    /* opacity:0; */
}
img {
    /* need to set to 100% otherwise all images will appear due to difference in sizes */
    width: 100%;
    height: 100%;
}

.caption-text {
    display: none;
}

.previous-button, .next-button {
    padding: 1.6rem 1.6rem 1.6rem 1rem;
    color: white;
    position: absolute;
    /* put buttons above images */
    z-index: 1;
    transition: ease 0.5s;
    top: 45%;
    /* top counts the top edge of the element so to center the middle of the element,
     have to shift it up by 50% on itself to achieve true centering */
    transform: translateY(-50%);
    border-radius: 0px 10px 10px 0px;
    /* border: solid red 0.1rem; */
    font-size: 3rem;
}

/* moving next button to the righthand side and changing padding to match*/
.next-button {
    right: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 1.6rem 1rem 1.6rem 1.6rem;
}

/* hover effect on navigation buttons  */
.previous-button:hover, .next-button:hover {
    background-color: black;
    cursor: pointer;
    opacity: 0.7;

}

/* changing opacity of arrow icons  */
.fas {
    opacity: 0.7;
}
/* hovering the buttons will also increase opacity of the arrow icon */
.previous-button:hover .fas, .next-button .fas{
    opacity: 1;
}

.caption-container {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    width: 25%;
    height: auto;
    color: white;
    text-align: center;
    background: black;
    opacity: 0.7;
    border: solid red 2px;
}

/* why do we need a holder for caption text? Revisit later
placeholder is to display the caption text for each image, same way image holder displays image */
.caption-container .caption-text {
    display: block;
    margin: auto;

}

#play-pause-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    color: white;
    padding: 0.5rem 0.8rem 0.5rem 1rem;
    transition: ease 0.5s;
    z-index: 2;
    cursor: pointer;
    border-radius: 0rem 0rem 1rem 0rem;
   
}

#play-pause-button:hover {
    background-color: black;
    cursor: pointer;
    opacity: 0.7;
}

#play-pause-button:hover .fas {
    opacity: 1;
}