/* adding some set colours variables for the website */
:root{
    --bg-colour: #f0f2f0;
    --main-colour: #ffd064;
    --text-colour: #4a3c4e;
    --light-accent: #7ca4b3;
    --dark-accent: #806157;
}

* {
    margin: 0;
    padding: 0;
    /* set everything to border-box styling */
    box-sizing: border-box;
}

html {
    
    /* 1 rem = 10px */
    font-size: 62.5%;
    font-family: "Roboto" "Helvetica";
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-colour);
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    /* border: solid red 1px; */
    background-color: var(--main-colour);
}

nav  ul {
    display: flex;
    /* border: solid blue 1px; */
    list-style-type: none;
}

.nav-link {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    display: block;
    padding: 3rem 1rem;
    text-decoration: none;
    /* border: solid green 1px; */
}

.nav-link:hover {
    background-color: var(--light-accent);
}

#about-me {
    z-index: 1;
    /* border: solid red 1px; */
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8.5rem;
}

h1 {
    font-size: 2rem;
    color: var(--main-colour);
}

p {
    font-size: 1.6rem;
    color: var(--text-colour);
}